.cart-view {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 750px;
    margin: auto;
}

.cart-items {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 15px;
}

.item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
}

.item-details {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h1,
h2,
p {
    margin: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.tituloProductoCarrito {
    font-size: 16px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

p {
    font-size: 16px;
    color: #555;
}

Link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

Link:hover {
    background-color: #333;
}

.total {
    text-align: left;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}